<div class="container">
    <div class="row mt-5 ">
        <div class="col-md">
            {{content.field_four_img_one}}
        </div>
        <div class="col-md mt-5">
            <h2>{{content.field_four_title}}</h2>
            <p>{{content.field_four_title_1}}</p>
            <p>{{content.field_four_description}}</p>
            <button class="btn rounded-corners  btn-dark">{{content.field_four_button}}</button>
        </div>
    </div>
</div>